@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playball&display=swap');


html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
img{width:100%;}
a{text-decoration: none;}
h1, h2, h3, span{line-height:100%;}

/*1366 by 768 - my laptop's resolution*/
:root{
    --primary-heading:"Roboto", sans-serif;
    --secondary-heading:"Playfair Display", serif;
    --tertiary-heading: "Playball", cursive;

    --primary-color:#32291E;
    --secondary-color:#463B30;
    --brown1:#7D6B5A;
    --brown2:#BDA584;
    --white:#fff;
    --body-color:#1a1a1a;


}
body{background:transparent;}
/* body:before{content:url(images/screenshot.png); position:absolute; left:50%; transform:translateX(-50%);top:0; opacity:0.5;} */

.comp{color:var(--primary-color)!important; font-weight:700;}
.wrapper{max-width:1400px; margin:0 auto;width:100%; position:relative;}
.body_par{font-family:var(--primary-heading); font-size:16px; line-height:26px; color:var(--body-color);}

.heading{font-family:var(--secondary-heading); font-size:60px; color:var(--body-color); font-weight:500;}
.heading span{}

.btn_style{width:200px; height:55px; line-height:55px;text-align: center; color:var(--white); font-family:var(--primary-heading); font-size:20px; position:relative; border-radius:50px; background:var(--brown1); display: block;padding-right:5px;}
.btn_style:before{content:url(images/arrow-w.png); position:absolute;right: 36px; top: 55%; transform:translateY(-50%); }
.btn_style:hover{background:var(--primary-color);}

header{background:transparent;position:relative;z-index:10;padding:0 10px;}
.header_con{position:relative; min-height: auto; display:flex; justify-content: space-between; align-items: center; gap:12px; padding-top: 15px;}

.main_logo{max-width:250px; }
.head_info{width: fit-content; }
.header_info{padding-top: 23px;}
.header_info ul{display:flex; justify-content:space-between; gap:12px;}
.header_info ul li:last-child a{width:244px; padding-right: 20px;}
.header_info ul li:last-child a:before{right: 20px;}


#nav_area{}
.page_nav{background:transparent;width: fit-content; position:absolute;top: 55px; left: -110px; right:0; margin:0 auto;z-index:10;}
.page_nav ul{text-align: center;}
.page_nav ul li{display:inline-block; vertical-align:middle;}
.page_nav ul li a{font-family:var(--primary-heading); font-size:24px; color:var(--white); text-align: center; text-decoration: none; padding:0 15px; margin:0 10px; line-height:58px;}

/* .page_nav ul li a:hover, .page_nav ul li a:active, .page_nav ul li.current_page_item > a */
.page_nav ul li a:hover, .page_nav ul li.nav_active, .page_nav ul li.current_page_item > a{color:var(--brown2)!important; text-decoration: underline;}


#banner{position:relative;padding:0 10px;}
.bnr_con:before{content:''; width:1920px; left:50%; transform:translateX(-50%); top:-127px;overflow: hidden; height:841px; background:rgba(0, 0, 0, 0.5); position:absolute; z-index:1;}
.bnr_con{position:relative; min-height:600px;}
.slider{position:relative; left:50%; transform:translateX(-50%); top: -127px; width: 1920px;}

.mySlides{display:block;}
.bnr_info{position:absolute; left:0; right:0; margin:0 auto; top:200px; text-align: center;z-index:200;}
.bnr_info h2{font-family:var(--secondary-heading); font-size:50px; color:var(--white); line-height:100%;font-size: 60px; font-weight: 500;}
.bnr_info h2 span{display: block;}
.bnr_info p{color:var(--white); margin: 20px 340px 40px;}
.bnr_info a{margin:0 auto; width:240px;}

.mySlides{width:1920px; height:711px;}

#middle{padding:0 10px;}
.middle_con{padding: 95px 0 20px; min-height:920px;}
.middle_info{text-align: center;}
.middle_info h2{}
.middle_info p{margin: 36px 0 63px;}

.middle_boxes{margin:0 auto;display:flex; justify-content: center; gap:12px;}
.middle_boxes section{text-align: center; width: 100%; max-width:800px; min-height:600px; position:relative;}
.middle_boxes section h2{font-family:var(--secondary-heading); font-size:60px; color:var(--white); margin-bottom:10px;}
.middle_boxes section h2 span{display:block; font-size:28px; font-family:var(--primary-heading);}
.middle_boxes section h3{font-family:var(--primary-heading); font-size:35px; color:var(--white); font-weight:700;}
.middle_boxes section a{position:absolute; left:0; right:0; top:0; bottom:0; width:100%; height:100%;}

.middle_boxes_info{position:absolute; left:0; right:0; margin:0 auto; bottom:67px;}


.middle_boxes section:first-child{background:url(images/s1.png)center no-repeat;filter:grayscale(1);}
.middle_boxes section:hover{filter: none; transition:0.5s;}

.middle_btn{}
.middle_btn a{margin: 37px auto 0; width:282px; padding-right: 20px;}

#main_area{padding:0 10px;}
  .main_con{min-height:504px; padding: 61px 0 20px; position:relative;}
  main{width: 970px;}
  main .h1_title{font-family:var(--tertiary-heading); font-size:60px; color:var(--primary-color); margin-bottom: 30px;}
  main p{font-size:22px!important; margin-bottom:32px; line-height:31px!important;}
  main a{width:221px!important; margin-top: 50px;}
  main a:before{right:26px!important;}

  .main_img{position:absolute; right: -230px; top: -120px; pointer-events: none; width:600px;} 


#bottom1{background:url(images/btm1-bg.png)center no-repeat; position:relative;padding:0 10px;}
  .btm1_con{min-height:800px; padding:0;}
  .btm1_info{}
  .btm1_info h2{}
  .btm1_info h2 span{}
  .btm1_info p{}
  .btm1_info a{}


#bottom2{ padding:0 10px;}
  .btm2_con{min-height:630px; padding: 80px 0 20px;}
  .btm2_info{text-align: center;}
  .btm2_info h2{}
  .btm2_info h2 span{display: block;}
  .btm2_info p{font-size:18px!important; margin: 32px 0 87px;}

  .btm2_boxes{display:flex; justify-content: center; gap:12px; column-gap:30px;}
  .btm2_boxes section{width:48%; max-width:460px; min-height:190px; border:1px solid #33333354; padding: 44px 80px 20px 100px; position:relative;}
  .btm2_boxes section:before{position:absolute;bottom: 55px; right: 60px; content:url(images/quote.png);}
  .btm2_boxes section h2{font-family:var(--secondary-heading); font-size:20px; color:#000; font-weight:700;}
  .btm2_boxes section h2 span{display:block; color:#00000079;}
  .btm2_boxes section p{font-family:var(--secondary-heading); font-size:24px; color:#333; font-style: italic; line-height:26px; font-weight:600;}

  .testi_holder{ margin-top:20px;display: flex; align-items: center; column-gap: 20px; }
  .testi_holder figure{width:84px; height:84px;}
  .testi_holder figure img{border-radius:50%; outline: 1px solid #000; outline-offset: 5px;}

 #bottom3{ padding:0 10px; }
 .btm3_con{padding: 130px 0 20px; min-height:365px;}

 .btm3_info{width: 430px;}
 .btm3_info h2{font-size:50px; margin-bottom:20px;}
 .btm3_info h2 span{}
 
 #form_message{display:flex; justify-content:space-between ; flex-wrap:wrap; row-gap:10px; gap:12px; width: 860px; position: absolute; right: 0; top:80px;}
 #form_message .formm{width:44%; height:48px; border:1px solid #ccc; border-radius:50px; background:var(--white); font-family:var(--primary-heading); font-size:24px; color:#575757; padding:10px 20px;} 

 #form_message .formme{width:100%; height:118px; border:1px solid #ccc; resize:none; border-radius:50px; background:var(--white); font-family:var(--primary-heading); font-size:24px; color:#575757; padding:10px 20px;} 
 #form_message .consent{font-family:var(--primary-heading); font-size:16px; color:#827F7F; margin: 20px 0 20px;}
 #form_message button{border:none;}
 #form_message textarea{ padding:20px 15px; font-family:var(--primary-heading); font-size:16px; color:#827F7F; }


 footer{background:var(--secondary-color);}
 .footer_top{padding:0 10px; }
 .footer_top_con{min-height:140px; position:relative;}

 .footer_logo{max-width:235px; margin: 0px auto 0; padding-top: 18px;}

 .social_media{position:absolute;right:0; bottom:-27px;}
 .social_media ul{}
 .social_media ul li{font-family:var(--primary-heading); font-size:24px; color:var(--white);display: inline-block; vertical-align:middle; padding:0 6px;}
 .social_media ul li figure{max-width:50px;}
 .social_media ul li figure:hover{opacity:0.5;}


 .footer_btm{padding:0 10px;}
 .footer_btm_con{min-height:95px; padding: 37px 0 10px; position:relative;}
 .footer_nav{}
 .footer_nav ul{}
 .footer_nav ul li{display:inline-block; vertical-align: middle; padding:0 15px; margin:0 8px;}
 .footer_nav ul li a{font-family:var(--primary-heading); font-size:24px; color:var(--white);}

 .footer_nav ul li:first-child {padding-left:0px; margin-left:0;}
 .footer_nav ul li:last-child {padding-right:0px; margin-right:0;}

 .copyright{position:absolute; right:0; top:0px;}
 .copyright{font-family:var(--primary-heading); font-size:24px; color:var(--white); line-height:24px;}
 .copyright small{position:relative; padding-left:25px;}
 .copyright small:before{content:''; width:5px; height:5px; background:var(--white); border-radius:50%; position:absolute; left:7px; transform:translateY(-50%); top:50%;}